<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.box{
				width: 100px;
				height: 100px;
				background: red;
				margin: 10px;
			}
		</style>
	</head>
	<body>
		
		<div id="app">
			
			<!-- v-text   innerText  -->
			<h1 v-text="message"></h1>
			<!-- 两种写法等价 -->
			<h1>{{message}}</h1>
			
			<!-- v-html  innerHtml -->
			<div v-html="htmlText"></div>
			
			<!--  v-show -->
			<div class="box" v-show="isSelect">show</div>
			
			<!--  v-if -->
			<div class="box" v-if="isSelect">if</div>
			
			<!--  v-if写在前           v-else-if v-else 写在后   -->
			<div class="box" v-if="num == 1">1</div>
			<div class="box" v-else-if="num == 2">2</div>
			<div class="box" v-else-if="num == 3">3</div>
			<div class="box" v-else>4</div>

			
		</div>
		
		
		
		
		
		
		<script src="vue.js"></script>
		<script>
			/*
			 指令：给标签添加属性，属性写法都是以‘v-’开头:v-指令名字, 指令所对应的值是js表达式
			 指令作用：给不同的标签添加不同的行为
			 
			 
			 */
			
			
			//创建vue实例对象
			const vm = new Vue(
				//vue实例的配置项
				{
					//vue实例作用的dom结构, 值为该dom节点的选择器
					el: '#app',
					//vue实例配置属性
					data: {
						message: 'hello vue',
						htmlText: '<h2>test</h2>',
						isSelect: false,
						num: 1
					}
				}
			);

			
		</script>
		
	</body>
</html>
